.ex-1-square{
    transition: background-color 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: border-radius 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: background-color 3s;
}

.ex-4-square:hover{
    background-color: rgba(255, 0, 0, 0.0);
}


.ex-5-square{
    transition: all 3s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img{
    transition: all 3s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: all 3s;
}

.ex-7-img:hover{
    filter: blur(5px) grayscale(100%);
}

.ex-8-img{
    transition: filter 3s, border-radius 5s;
}

.ex-8-img:hover{
    filter: brightness(2) invert(2);
    border-radius: 50%;
}

.ex-9-img{
    transition: all 3s;
}

.ex-9-img:hover{
    filter: hue-rotate(90deg) sepia(1);
    border-radius: 50%;
    transform: scale(1.5);
}

.ex-10-icon{
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: rotation 3s linear infinite;
}

@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    } 
}

.ex-12-top-white{
    animation: 3s linear infinite;
    animation-name: giro1;
}

@keyframes giro1 {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: 75%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-12-bottom-white{
    animation: 3s linear infinite;
    animation-name: giro2;
}

@keyframes giro2 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: 75%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}


.ex-13-top-white{
    animation: 5s linear infinite;
    animation-name: giro3;
}

@keyframes giro3 {
    0% {
        top: -10px;
        left: 10%;
    }
   20% {
        top: -10px;
        left: 75%;
    }

    40% {
        top: 50px;
        left: 75%;
    }

    60% {
        top: 50px;
        left: -10%;
    }

    80% {
        top: -10px;
        left: -10%;
    }
    
    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-13-bottom-white{
    animation: 5s linear infinite;
    animation-name: giro4;
}

@keyframes giro4 {
    0% {
        bottom: -10px;
        right: 20%;
    }
   20% {
        bottom: -10px;
        right: 80%;
    }

    40% {
        bottom: 50px;
        right: 80%;
    }

    60% {
       bottom: 50px;
       right: -10%;
    }

    80% {
        bottom: -10px;
        right: -10%;
    }
    
    100% {
        bottom: -10px;
        right: 20%;
    }
}